*{
    margin: 0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

.wrapper{
    background-color:rgb(52,51,52) ;
    min-height: 100vh;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}


.header {
    background-color:rgb(126,83,69);
    padding: 15px;
    grid-area: header;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr ;
    align-items: center;

		&__logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: white;
            grid-column: 2 / 3;
        }
		&__list {
            list-style: none;
            display: grid;
            grid-auto-flow: column;
            justify-items: end;
            grid-column: 3 / 4;
        }
        & li{
            margin-left: 10px;
        }
		&__link {
            color: white;
            text-decoration: none;
            font-style: 18px;
        }

}
.main {
    padding: 30px 15px;
}

.sidebar {
    padding:30px 15px;
    background-color: rgb(121,144,108);
    margin: 0px 0px 30px 0px;
		&__list {
            list-style: none;
        }
        &__list li{
            margin: 0 0 15px 0;
        }
		&__link {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
}
.content {
		&__title {
            color: white;
            margin:0px 0px 10px 0px;    
        }
		&__gallery {
            margin:0px 0px 30px 0;
        }
}

.gallery {
		&__title {
            color: white;
            margin:0px 0px 10px 0px;
        }
		&__items {
            display: grid;
            gap:10px;
            grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
        }
		&__item {
            position: relative;
            padding:0px 0px 85% 0px;
            & img{
              position: absolute; 
              top: 0;
              left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
		}
}
.products {
		&__title {
            color:white;
            margin:0px 0px 10px 0px;
        }
		&__items {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            column-gap: 30px;
            row-gap: 50px;
        }
        &__item{
            display: grid;
            // grid-auto-flow: row;
            grid-template:auto 1fr minmax(40px, auto) / 1fr;
           
        }
		&__image {
            position: relative;
            padding: 0px 0px 90% 0px;
            margin: 0px 0px 20px 0px;
            & img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
		&__name {
            color:white;
            text-decoration: none;
            font-size: 24px;
            line-height: 30px;
            margin: 0px 0px 20px 0px;

        }
		&__button {
            justify-self: start;
            color: white;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            padding:0px 20px;
            letter-spacing: 2px;
            line-height: 40px;
            background-color:rgb(90,74,105) ;

        }
}

.footer {
    background-color: rgb(90,74,105);
    display: grid;
    grid-area: footer;
    grid-template: 1fr 1fr / 1fr ;
    align-items:center;
    padding: 0 10px;
    justify-items: center;
    &__copy{
        order:2;
    }
    &__text{
        order:1;
    }
    	
}

@media screen and (min-width:992px) {
    .main{
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr ;
    }
    .sidebar{
        grid-column: 2 / 3;
        margin: 0;
    }
    .content{
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
    
}
@media screen and (min-width:767px){
    .gallery__item_big{
        grid-column: span 2;
        grid-row: span 2;
    }
}
@media screen and (min-width:556px){
    .products__items{
       grid-auto-rows: 1fr; 
    }
    .footer{
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        justify-items:start;
    }
    .footer__copy {
        grid-column: 2/3;
        order:1;
    }
    .footer__text {
        grid-column: 3/4;
        order:2;
        justify-self: end;
    }
}

@media (max-width:992px){
    .header__list{
        display: none;
    }
    .header__burger{
        width: 30px;
        height: 20px;
        background-color:white;
    }
    .header__menu{
        display: grid;
        justify-items: end;
    }
}

